higher==0.2.1
absl-py==1.0.0
graphviz==0.19.1
imageio==2.15.0
imageio-ffmpeg==0.4.5
ipython==8.0.1
jupyter-client==7.1.2
jupyter-core==4.9.1
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
git+https://github.com/S-aiueo32/lpips-pytorch.git
git+https://github.com/alexlee-gk/lpips-tensorflow.git
matplotlib==3.5.1
networkx==2.6.3
opencv-python-headless==4.5.5.62
opt-einsum==3.3.0
pandas==1.4.0
Pillow==9.0.1
PyYAML==6.0
git+https://github.com/SudeepDasari/RoboNet.git
scikit-image==0.19.1
scikit-learn==1.0.2
scikit-video==1.1.11
scipy==1.8.0
seaborn==0.11.2
tensorboard==2.8.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.4.1
tensorflow-estimator==2.8.0
tensorflow-gpu==2.8.0
torch==1.10.1
torchvision==0.11.2
torchviz==0.0.2
tqdm==4.62.3
av==8.1.0
